body {
    font-family: 'Montserrat Alternates', sans-serif;
    box-sizing: border-box;
}
#build-brands {
    background-color: #f6f5f6;
    overflow: hidden;
    padding-top: 10rem;
    padding-bottom: 20rem;
    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        .group-title {
            display: grid;
            grid-template-columns: 50% 50%;
        }
        .title {
            font-size: 15px;
            color: #01acd8;
        }
        .intro-bold {
            font-size: 49px;
            font-weight: bold;
            color: #3a364e;
        }
        .intro-light {
            font-size: 49px;
            font-weight: lighter;
            color: #686868;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            .col-6 {
                flex-basis: 0;
                flex-grow: 1;
                .group-card {
                    .group-card:last-child {
                        margin-top: 2rem;
                    }

                    .card {
                        background-color: #f6f5f6;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        min-width: 0;
                        word-wrap: break-word;
                        background-clip: border-box;
                        border-radius: 0.25rem;
                        margin-right: 1rem;
                        margin-left: 1rem;
                        margin-top: 5rem;
                        margin-bottom: 1rem;
                        cursor: pointer;
                        .card-img-top {
                            width: 100%;
                            height: 400px;
                            display: block;
                            object-fit: cover;
                        }
                        .card-body {
                            flex: 1 1 auto;
                            padding: 1.25rem 0;
                            display: flex;
                        }
                        .line {
                            width: 62px;
                            margin-right: 20px;
                        }
                        .card-txt > div:first-child {
                            font-size: 14px;
                            color: #95a1ac;
                        }
                        .card-txt > div:last-child {
                            font-size: 27px;
                            color: #3a364e;
                            font-weight: 600;
                        }
                    }
                    .card:hover {
                        transform: scaleX(1.01);
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #build-brands {
        .container {
            .group-title {
                display: block;
                .title {
                    font-size: 12px;
                }
                .intro-bold,
                .intro-light {
                    font-size: 32px;
                }
            }
            .row {
                display: block;
                .col-6 {
                    .group-card {
                        margin: 10px auto !important;
                        .card {
                            .card-body {
                                .card-txt > div:last-child {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 576px) {
    #build-brands {
        .container {
            .group-title {
                display: block;
                .title {
                    font-size: 12px;
                }
            }
            .intro-bold,
            .intro-bold {
                font-size: 38px;
            }
        }
    }
}

@media (min-width: 768px) {
    #build-brands {
        .container {
            .group-title {
                display: grid;
                .intro-bold,
                .intro-bold {
                    font-size: 38px;
                }
            }

            .row .col-6 .group-card .card .card-body .card-txt {
                font-size: 20px;
            }
        }
    }
    #build-brands .container .row .col-6 .group-card .card .card-txt > div:last-child {
        font-size: 20px;
    }
}
