@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@300;400;500;700;900&display=swap');

$font-title: 'Roboto', sans-serif;
$font-content: 'Questrial', sans-serif;

.home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    font-family: $font-title;
    letter-spacing: 0.05rem;
    background: url('./../../assets/images/bg.png') no-repeat;
    background-size: cover;
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 18px;
        color: #363636;
        font-family: $font-content;
    }
}
