body {
    font-family: 'Montserrat Alternates', sans-serif;
    box-sizing: border-box;
}
#news {
    overflow: hidden;
    position: relative;
    margin-top: -100px;
    :focus {
        outline: none;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1140px;
        .get-in-touch {
            border-radius: 50px;
            padding: 100px 0;
            color: white;
            text-align: center;
            background: url('../../assets/image/service.jpg') no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            object-fit: cover;
            .mask-cover {
                z-index: 0;
                position: absolute !important;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #019dd8;
                opacity: 75%;
                border-radius: 50px;
            }
            .txt-quote {
                font-size: 15px;
            }
            .intro-bold {
                font-weight: bolder;
                font-size: 54px;
            }
            .intro-light {
                font-size: 54px;
                color: #dbdbdb;
            }
            .btn-get-started {
                border-radius: 8px;
                background-color: #ff268b;
                min-height: 46px;
                min-width: 165px;
                border: none;
                color: white;
                font-size: 12px;
                margin: 24px;
                transition: 0.2s ease;
                cursor: pointer;
                position: relative;
            }
            .btn-get-started:hover {
                opacity: 0.8;
            }
        }
        .get-in-touch > div {
            position: relative;
            z-index: 20;
        }
        .our-insight {
            padding: 100px 0;
            .last-news {
                text-align: center;
            }
            .last-news > div:first-child {
                font-size: 21px;
                font-weight: bold;
            }
            .last-news > div:last-child {
                font-size: 45px;
                color: #686868;
            }
            .txt-news {
                color: #95a1ac;
                font-size: 18px;
                width: 60%;
                text-align: justify;
                margin: 60px 0;
            }
            .row {
                .col-3 {
                    margin-right: 125px;
                    .group-card {
                        transform: 0.2s ease;
                        display: flex;
                        width: 100%;
                        .card:last-child {
                            margin-right: 0;
                        }
                        .card {
                            min-width: 0;
                            border-radius: 0.25rem;
                            box-shadow: 0 3px 31px #707070;
                            background-color: #fff;
                            margin-top: 30px;
                            margin-bottom: 30px;
                            width: 100%;
                            position: relative;
                            .mask-cover {
                                z-index: 0;
                                position: absolute !important;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                background-color: #019dd8;
                                opacity: 50%;
                                height: 260px;
                            }
                            .card-img-top {
                                width: 100%;
                                object-fit: cover;
                                height: 260px;
                            }
                            .card-body {
                                padding: 1rem 0;
                            }
                            .txt-card {
                                margin: 20px;
                                .read-more {
                                    border: none;
                                    background: none;
                                    font-size: 15px;
                                    color: #256ece;
                                    padding: 0;
                                    cursor: pointer;
                                    transform: 0.2s ease;
                                    margin-top: 10px;
                                }
                                .date-ceo {
                                    display: flex;
                                    justify-content: right;
                                    align-items: center;
                                    margin-bottom: 34px;
                                    .date {
                                        display: flex;
                                    }
                                    .date > div {
                                        margin-right: 16px;
                                    }
                                    .ceo {
                                        display: flex;
                                        justify-content: right;
                                        align-items: center;
                                        margin-left: 4rem;
                                    }
                                    .ceo > div {
                                        margin-right: 0.5rem;
                                    }
                                }
                                .txt-ceo {
                                    font-size: 17px;
                                    font-weight: 600;
                                }
                            }
                            img {
                                object-fit: cover;
                            }
                        }
                    }
                    .group-card:hover {
                        transform: scale(1.03);
                    }
                }
                .col-3:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .view-all {
        text-align: center;
        .btn-view-all {
            border: 1px solid #019dd8;
            background: none;
            height: 46px;
            color: #019dd8;
            cursor: pointer;
            transform: 0.2s ease;
            padding: 0 46px;
            border-radius: 9px;
            font-size: 12px;
            margin: 88px 0;
            font-weight: bold;
        }
        .btn-view-all:hover {
            background: #019dd8;
            color: white;
        }
    }
}
@media (max-width: 575px) {
    #news {
        margin-top: -200px;
        .container {
            .get-in-touch {
                .intro-bold,
                .intro-light {
                    font-size: 32px;
                }
                .txt-quote {
                    font-size: 10px;
                }
            }
            .our-insight {
                .txt-news {
                    width: 100%;
                }
                .row {
                    display: block;
                    .col-3 {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: 576px) {
    #news {
        .container {
            .get-in-touch {
                .intro-bold,
                .intro-light {
                    font-size: 32px;
                }
                .txt-quote {
                    font-size: 10px;
                }
            }
            .our-insight {
                .txt-news {
                    width: 100%;
                }
                .row {
                    display: block;
                    .col-3 {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #news {
        margin-top: -200px;
        .container {
            .get-in-touch {
                .intro-bold,
                .intro-light {
                    font-size: 32px;
                }
                .txt-quote {
                    font-size: 10px;
                }
            }
            .our-insight {
                .row {
                    display: block;
                    width: 60%;
                    margin: 30px auto;
                }
                .txt-news {
                    width: 100%;
                }
            }
        }
    }
}
@media (min-width: 992px) {
    #news {
        .container {
            .get-in-touch {
                .intro-bold,
                .intro-light {
                    font-size: 42px;
                }
                .txt-quote {
                    font-size: 10px;
                }
            }
            .our-insight {
                .txt-news {
                    width: 40%;
                }
                .row {
                    width: 100%;
                    display: flex;
                    .col-3 {
                        margin-right: 50px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    #news {
        .container {
            .get-in-touch {
                .intro-bold,
                .intro-light {
                    font-size: 42px;
                }
                .txt-quote {
                    font-size: 10px;
                }
            }
            .our-insight {
                .txt-news {
                    width: 40%;
                }
                .row {
                    display: flex;
                    .col-3 {
                        margin-right: 60px;
                    }
                }
            }
        }
    }
}
